{% extends "index.html" %}
{% block content %}

<div class="row">
  <div class="col-md-6">
    <h2>Topic</h2>
  </div>
</div>
<div class="row">
<div class="col-md-6 table-responsive">
  <table class="table">
    <tr>
      <th>Subject</th>
      <td>{{ post_entity.subject }}</td>
    </tr>
    <tr>
      <th>Content</th>
      <td>{{ post_entity.render() | safe }}</td>
    </tr>
    <tr>
      <th>Author</th>
      <td>{{ post_entity.author }}</td>
    </tr>
    <tr>
      <th>Created</th>
      <td>{{ post_entity.created.strftime("%b %d, %Y") }}</td>
    </tr>
    <tr>
      <th>Last Modified</th>
      <td>{{ post_entity.last_modified.strftime("%b %d, %Y") }}</td>
    </tr>
  </table>
</div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>Comment</h4>
  </div>
</div>

{% if comments != [] %}
  {% for comment in comments %}
    <div class="row">
      <div class="col-md-6">
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Comment</th>
              <td>{{ comment.render() | safe }}</td>
            </tr>
            <tr>
              <th>Author</th>
              <td>{{ comment.author }}</td>
            </tr>
            <tr>
              <th>Created</th>
              <td>{{ comment.created.strftime("%b %d, %Y") }}</td>
            </tr>
            <tr>
              <th>Last Modified</th>
              <td>{{ comment.last_modified.strftime("%b %d, %Y") }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}

<div class="row">
  <div class="col-md-6">
    <form method="post">
      <div class="form-group">
        <label>New Comment</label>
        <textarea class="form-control" rows="6" name="comment">{{comment}}</textarea>
      </div>
      <div class="row" style="color:red">
        <div class="col-md-12">
          {{error}}
        </div>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
