{% extends "index.html" %}
{% block content %}

<div class="row">
  <div class="col-md-6">
    <h2>Topic</h2>
  </div>
</div>
<div class="row">
<div class="col-md-6 table-responsive">
  <table class="table">
    <tr>
      <th>Subject</th>
      <td>{{ post_entity.subject }}</td>
    </tr>
    <tr>
      <th>Content</th>
      <td>{{ post_entity.render() | safe }}</td>
    </tr>
    <tr>
      <th>Author</th>
      <td>{{ post_entity.author }}</td>
    </tr>
    <tr>
      <th>Created</th>
      <td>{{ post_entity.created.strftime("%b %d, %Y") }}</td>
    </tr>
    <tr>
      <th>Last Modified</th>
      <td>{{ post_entity.last_modified.strftime("%b %d, %Y") }}</td>
    </tr>
  </table>
</div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Comment</h2>

{% if comments != [] %}
  {% for comment in comments %}

      {% if comment.author == author %}


        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Comment</th>
              <td>{{ comment.render() | safe }}</td>
            </tr>
            <tr>
              <th>Author</th>
              <td>{{ comment.author }}</td>
            </tr>
            <tr>
              <th>Created</th>
              <td>{{ comment.created.strftime("%b %d, %Y") }}</td>
            </tr>
            <tr>
              <th>Last Modified</th>
              <td>{{ comment.last_modified.strftime("%b %d, %Y") }}</td>
            </tr>
          </table>
        </div>

        <div class="text-right">
          <form method="post" class="form-inline">
            <div class="btn-group" role="group">
              <button type="submit" class="btn btn-default" aria-label="Edit" name="edit" value="{{ comment.key.id() }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </button>
              <button type="submit" class="btn btn-default" aria-label="Trash" name="trash" value="{{ comment.key.id() }}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </div>
          </form>
        </div>
        <br>

      {% else %}

          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Comment</th>
                <td>{{ comment.render() | safe }}</td>
              </tr>
              <tr>
                <th>Author</th>
                <td>{{ comment.author }}</td>
              </tr>
              <tr>
                <th>Created</th>
                <td>{{ comment.created.strftime("%b %d, %Y") }}</td>
              </tr>
              <tr>
                <th>Last Modified</th>
                <td>{{ comment.last_modified.strftime("%b %d, %Y") }}</td>
              </tr>
            </table>
          </div>
          <br>

      {% endif %}

  {% endfor %}
{% endif %}

<div class="row">
  <div class="col-md-12">
    <form method="post">
      <div class="form-group">
        <label>New Comment</label>
        <textarea class="form-control" rows="6" name="comment">{{comment}}</textarea>
      </div>
      <div class="row" style="color:red">
        <div class="col-md-12">
          {{error}}
        </div>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
