
{% extends "index.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12 col-md-8">

  <h2>Register</h2>
  <form method="post">
    <table class="table table-condensed">
      <tr>
        <td class="">Username</td>
        <td class=""><input type="text" name="username" value="{{username}}"></td>
        <td class="error">{{error_username}}</td>
      </tr>
      <tr>
        <td class="">Password</td>
        <td class=""><input type="password" name="password"></td>
        <td class="error">{{error_password}}</td>
      </tr>
      <tr>
        <td class="">Verify Password</td>
        <td class=""><input type="password" name="verify"></td>
        <td class="error">{{error_verify}}</td>
      </tr>
      <tr>
        <td class="">Email Address(Optional)</td>
        <td class=""><input type="email" name="email" value=""></td>
        <td class="error">{{error_email}}</td>
      </tr>
    </table>
    <input type="submit">
  </form>

  </div>
</div>
{% endblock %}
